$minMobile: 375px;
$minDesktop: 768px;
$maxDesktop: 1440px;


$white:#FFFFFF;
$pink: #FF6060;
$black: #000000;
$ligthPink: #F7F7F7;
$grey: #c4c4c4;

$lineargradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

$margin100: 6.946%;
$margin20: 5.335%;
$margin50: 3.907%;



