@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "variables";
@import "header";
@import "footer";
@import "error";
@import "banner";
@import "collapse";
@import "card";
@import "gallery";
@import "slideshow";
@import "accommodationDescription";
@import "tag";
@import "rate";

body {
    
    min-width: $minMobile;
    max-width: $maxDesktop;
    background-color: $white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
        
}